Repository redhat-openshift-builds/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: bundle-build, openshift-builds-fbc-test, openshift-builds-operator-bundle-test, openshift-builds-operator-test

bundle-build:
  displayName: Bundle Build Test
  params:
  - name: git-url
    value: https://github.com/redhat-openshift-builds/operator.git
  - name: revision
    value: main
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-builds-tenant/bundle-build:{{revision}}
  - name: image-expires-after
  ...

openshift-builds-fbc-test:
  displayName: OpenShift Builds FBC Build Test
  params:
  - name: git-url
    value: https://github.com/redhat-openshift-builds/catalog.git
  - name: revision
    value: main
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-builds-tenant/openshift-builds-fbc-test:{{revision}}
  ...

openshift-builds-operator-bundle-test:
  displayName: OpenShift Builds Operator Bundle Build Test
  params:
  - name: git-url
    value: https://github.com/redhat-openshift-builds/operator.git
  - name: revision
    value: main
  - name: output-image
  ...

openshift-builds-operator-test:
  displayName: OpenShift Builds Operator Build Test
  params:
  - name: git-url
    value: https://github.com/redhat-openshift-builds/operator.git
  - name: revision
    value: main
  - name: output-image
  ...

fix: update konflux pipelines fileds
  pipelines/konflux-build-bundle.yaml
  pipelines/konflux-build-fbc.yaml
  pipelines/konflux-build-multi-platform.yaml
  pipelines/konflux-build.yaml
  tasks/unit-test.yaml
Due: bundle-build, openshift-builds-fbc-test, openshift-builds-operator-bundle-test, openshift-builds-operator-test

chore: Update Tekton Task bundle references
  pipelines/konflux-build-bundle.yaml
  pipelines/konflux-build-fbc.yaml
  pipelines/konflux-build-multi-platform.yaml
  pipelines/konflux-build.yaml
Due: bundle-build, openshift-builds-fbc-test, openshift-builds-operator-bundle-test, openshift-builds-operator-test

Update unit test dependencies
  tasks/unit-test.yaml
Due: openshift-builds-operator-test

Fix unit test
  pipelines/konflux-build-multi-platform.yaml
Due: openshift-builds-operator-test

Add detect-version step
  pipelines/konflux-e2e-complete-pipeline.yaml
Due: none

Remove sealights from Konflux pipelines
  .tekton/openshift-builds-operator-test.yaml
  pipelines/konflux-build-multi-platform.yaml
Due: openshift-builds-operator-test

refactor: modularize e2e pipeline
  README.md
  images/e2e-ci/Dockerfile
  pipelines/konflux-e2e-complete-pipeline.yaml
  tasks/e2e-deploy-operator.yaml
  tasks/e2e-install-openshift-pipelines.yaml
  tasks/e2e-provision-cluster.yaml
  tasks/e2e-run-tests.yaml
  tasks/e2e-validate-snapshot.yaml
  tasks/e2e-verify-fips.yaml
  tasks/e2e-verify-images.yaml
Due: none

chore: update go-toolset image SHAs to latest
  pipelines/konflux-build-multi-platform.yaml
  tasks/unit-test.yaml
Due: openshift-builds-operator-test

chore: Update Tekton Task bundle references
  pipelines/konflux-build-bundle.yaml
  pipelines/konflux-build-multi-platform.yaml
  pipelines/konflux-build.yaml
Due: bundle-build, openshift-builds-operator-bundle-test, openshift-builds-operator-test

chore: remove github actions for updating images
  .github/workflows/update-task-bundles.yaml
Due: none

Remove e2e pipeline
  README.md
  pipelines/konflux-e2e-complete-pipeline.yaml
Due: none

chore: update ubi9 go-toolset to Go 1.26.2 for unit tests Update BASE_IMAGE and unit-test-base-image
  pipelines/konflux-build-multi-platform.yaml
  tasks/unit-test.yaml
Due: openshift-builds-operator-test

[BUILD-2092] Add agent context files and skills
  .claude/skills
  AGENTS.md
  CLAUDE.md
  skills/create-pr/SKILL.md
  skills/update-go-toolset/SKILL.md
Due: none

[BUILD-2063] Use UBI 10 go-toolset for Konflux unit test jobs Update unit-test-base-image in the multi-platform pipeline and align the unit-test task BASE_IMAGE to the same ubi10/go-toolset digest.
  pipelines/konflux-build-multi-platform.yaml
  tasks/unit-test.yaml
Due: openshift-builds-operator-test

feat: add Codecov coverage upload support to unit-test task
  pipelines/konflux-build-multi-platform.yaml
  tasks/unit-test.yaml
Due: openshift-builds-operator-test

fix: add param to enable symlink checks
  pipelines/konflux-build-bundle.yaml
  pipelines/konflux-build-fbc.yaml
  pipelines/konflux-build-multi-platform.yaml
  pipelines/konflux-build.yaml
Due: bundle-build, openshift-builds-fbc-test, openshift-builds-operator-bundle-test, openshift-builds-operator-test

Path conditions:
  bundle-build: (any of: pipelines/konflux-build.yaml) or (any of: .tekton/bundle-build.yaml)
  openshift-builds-fbc-test: (any of: pipelines/konflux-build-fbc.yaml) or (any of: .tekton/openshift-builds-fbc-test.yaml)
  openshift-builds-operator-bundle-test: (any of: pipelines/konflux-build-bundle.yaml) or (any of: .tekton/openshift-builds-operator-bundle-test.yaml)
  openshift-builds-operator-test: ((any of: pipelines/konflux-build-multi-platform.yaml) or (any of: tasks/unit-test.yaml)) or (any of: .tekton/openshift-builds-operator-test.yaml)
